'Lexogen SENSE mRNA-Seq Library Prep Kit V2':
    strand: reverse
    single_end:
      adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
      trimmer: fastp
      fastp:
        params: '-f 10 -l 31'
      contaminant_filter: bowtie2
      bowtie2:
        params: '--end-to-end --sensitive'
    paired_end:
      adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
      adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT' 
      trimmer: fastp
      fastp:
        params: '-f 10 -F 7 -l 31'
      contaminant_filter: bowtie2
      bowtie2:
        params: '--end-to-end --sensitive'
'Lexogen SENSE Total RNA-Seq Library Prep Kit (w/RiboCop rRNA Depletion Kit V1.2)':
  strand: reverse
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
    trimmer: fastp
    fastp:
      params: '-f 10 -l 31 -t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'      
    trimmer: fastp
    fastp:
      params: '-f 10 -F 7 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
'Illumina TruSeq Stranded mRNA Library Prep':
  strand: reverse
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    trimmer: fastp
    fastp:
      params: '-t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'  
    trimmer: fastp
    fastp:
      params: '-t 1 -T 1 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
'default':
  strand: reverse
  single_end:
    adapter: ''
    trimmer: fastp
    fastp:
      params: '-A -Q'
  paired_end:
    adapter: ''
    adapter2: ''
    trimmer: fastp
    fastp:
      params: '-A -Q'