interim_dir: data/test/mirge/tmp
organism: homo_sapiens
processed_dir: data/test/mirge/processed/
ext_dir: data/test/mirge/ext
filter:
  calibrator_quantifier: bowtie
  calibrators_extend: false
  contaminant_quantifier: bowtie
  contaminants_lib: univec
  filter_calibrators: true
  filter_contaminants: true
  filter_ribosomal: true
  filter_trim: true
  quant: mirge
  ribosomal_quantifier: bbduk
  sortmerna:
    rrna_db: https://github.com/biocore/sortmerna.git/trunk/rRNA_databases
quant:
  mirge:
    db: mirbase
samples: !!python/object/apply:collections.OrderedDict
- - - S1
    - !!python/object/apply:collections.OrderedDict
      - - - R1
          - testdata/1_R1.fastq.gz
  - - S2
    - !!python/object/apply:collections.OrderedDict
      - - - R1
          - testdata/2_R1.fastq.gz