interim_dir: data/tmp
organism: homo_sapiens
processed_dir: data/processed/
ext_dir: data/ext
fastq_dir: testdata
filter:
  calibrator_quantifier: bowtie
  calibrators_extend: false
  contaminant_quantifier: bowtie
  contaminants_lib: univec
  filter_calibrators: true
  filter_contaminants: true
  filter_ribosomal: true
  filter_trim: true
  quant: quickmirseq
  ribosomal_quantifier: bbduk
  sortmerna:
    rrna_db: https://github.com/biocore/sortmerna.git/trunk/rRNA_databases
quant:
  mirge:
    db: mirbase
samples:
  S1:
    R1: '1_R1.fastq.gz'
  S2:
    R1: '2_R1.fastq.gz'