interim_dir: data/tmp
organism: homo_sapiens
processed_dir: data/processed
ext_dir: data/ext
filter:
  calibrator_quantifier: unitas
  calibrators_extend: false
  contaminant_quantifier: unitas
  contaminants_lib: univec
  filter_calibrators: true
  filter_contaminants: false
  filter_ribosomal: true
  filter_trim: true
  quant: unitas
  ribosomal_quantifier: unitas
  sortmerna:
    rrna_db: https://github.com/biocore/sortmerna.git/trunk/rRNA_databases
quant:
  mirge:
    db: mirbase
samples: !!python/object/apply:collections.OrderedDict
- - - S1
    - !!python/object/apply:collections.OrderedDict
      - - - R1
          - /mnt/work/projects/GCF-2018-547/analysis/src/workflows/small-rna/tests/testdata/1_R1.fastq.gz
  - - S2
    - !!python/object/apply:collections.OrderedDict
      - - - R1
          - /mnt/work/projects/GCF-2018-547/analysis/src/workflows/small-rna/tests/testdata/2_R1.fastq.gz
