filter:
  quant: unitas
  filter_trim: true
  filter_calibrators: true
  calibrator_quantifier: bowtie
  calibrators_extend: false
  filter_contaminants: true
  contaminant_quantifier: unitas
  contaminants_lib: univec
  filter_ribosomal: true
  ribosomal_quantifier: unitas
  sortmerna:
    rrna_db: 'https://github.com/biocore/sortmerna.git/trunk/rRNA_databases'