filter:
  dedup: false
  contaminants:
    method: unitas
    filter: false
    quant: false
    ref: univec_core
  spikein:
    filter: false
    quant: false
    method: unitas
    ref: ERCC
  ribosomal:
    filter: false
    quant: false
    method: unitas
    ref: sortmerna_db
  trim:
    filter: true
    quant: true
    method: fastp